{% extends 'projects/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    {% for project in projects %}
      <div class="card mt-5">
        <div class="card-body">
          <img width="400px" height="100%" src="{% static project.image %}" alt="Project screenshots">
          <p>{{ project.title }}</p>
          <p>{{ project.description }}</p>
          <p>{{ project.technology }}</p>
            <a href="{% url 'projects:project_details' project.pk %}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}